<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995019377499-5nk15dkufdcsmbef4k1u9ig7agubagmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995019377499-5nk15dkufdcsmbef4k1u9ig7agubagmm</string>
	<key>API_KEY</key>
	<string>AIzaSyDqxahYHKfIK28EHXvzG_7hg1Hnuitoi2U</string>
	<key>GCM_SENDER_ID</key>
	<string>995019377499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>promobitIOS</string>
	<key>PROJECT_ID</key>
	<string>promobitios</string>
	<key>STORAGE_BUCKET</key>
	<string>promobitios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:995019377499:ios:636ecabfcdbd2ad177287e</string>
</dict>
</plist>
